alias school="~/School/year3/term2"
alias 345="cd /Users/evansalter/School/year3/term2/STAT\ 345 && ls"
alias 111="cd /Users/evansalter/School/year3/term2/ANTH\ 111 && ls"
alias 340="cd /Users/evansalter/School/year3/term2/CMPT\ 340 && ls"
alias 350="cd /Users/evansalter/School/year3/term2/CMPT\ 350 && ls"
alias 371="cd /Users/evansalter/School/year3/term2/CMPT\ 371 && ls"

export EDITOR="vim"

note() {
	FILE="`date +%Y-%m-%d`.md"
	DATE="`date +"%A, %B %d, %Y"`"
	if [ -f $FILE ];
	then
		$EDITOR $FILE
	else
		echo "# $DATE" >> $FILE
		$EDITOR $FILE
	fi
}

today_note() {
	FILE="`date +%Y-%m-%d`.pdf"
	open PDFs/$FILE
}

alias tuxworld="ssh evs162@tuxworld.usask.ca"
alias shellshock="curl -s https://raw.githubusercontent.com/hannob/bashcheck/master/bashcheck | bash"
alias openschool="school; open ."
alias spim="spim -file"
alias expose=~/dev/misc/Expose/expose.sh

alias t='python ~/tasks/t.py --task-dir ~/tasks --list tasks'

alias sw="s -p wikipedia"
alias simdb="s -p imdb"

alias pyserv="python -m SimpleHTTPServer 8000"

alias subl="/Applications/Sublime\ Text.app/Contents/SharedSupport/bin/subl"

alias p3="unset PYTHONPATH && python3"

alias got="go test ./internal/..."
alias wpo="watch kubectl get po --namespace "
alias npmis="npm i && npm start"

gmv() {
    go mod $1 && go mod vendor
}
alias wthr="curl wttr.in"
